{{- if .Values.infinispan.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: ispn-generated-secret
  labels:
    app: infinispan-secret-identities
    clusterName: ispn
    {{- include "podiumd.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
stringData:
  username: monitor
  password: {{ .Values.infinispan.deploy.security.monitor.secret }}
  {{- if .Values.infinispan.deploy.security.batch }}
  identities-batch: |-
    {{- .Values.infinispan.deploy.security.batch | trim | nindent 4 }}
  {{- end }}
{{- end }}