{{- if or (index .Values "keycloak-operator").enabled .Values.keycloak.enabled }}
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: {{ default "keycloak" .Values.keycloak.name }}
spec:
  instances: {{ .Values.keycloak.instances }}
  image: {{ include "keycloak.image" . }}
  hostname:
    hostname: {{ coalesce .Values.keycloak.hostname.hostname .Values.keycloak.config.adminFrontendUrl }}
    admin: {{ coalesce .Values.keycloak.hostname.admin .Values.keycloak.config.adminFrontendUrl }}
  http:
    httpEnabled: {{ .Values.keycloak.http.httpEnabled }}
  proxy:
    headers: {{ .Values.keycloak.proxy.headers }}
  {{- with .Values.keycloak.features.enabled }}
  features:
    enabled:
    {{- range . }}
    - {{ . }}
    {{- end }}
  {{- end }}
  db:
    vendor: {{ coalesce .Values.keycloak.db.vendor .Values.keycloak.externalDatabase.vendor }}
    host: {{ coalesce .Values.keycloak.db.host .Values.keycloak.externalDatabase.host }}
    port: {{ coalesce .Values.keycloak.db.port .Values.keycloak.externalDatabase.port }}
    database: {{ coalesce .Values.keycloak.db.database .Values.keycloak.externalDatabase.database }}
    usernameSecret:
      name: {{ coalesce .Values.keycloak.db.usernameSecret.name .Values.keycloak.secretsName }}
      key: {{ default "database_username" .Values.keycloak.db.usernameSecret.key }}
    passwordSecret:
      name: {{ coalesce .Values.keycloak.db.passwordSecret.name .Values.keycloak.secretsName }}
      key: {{ default "database_password" .Values.keycloak.db.passwordSecret.key }}
  ingress:
    enabled: {{ .Values.keycloak.ingress.enabled }}
  additionalOptions:
  {{- range .Values.keycloak.additionalOptions }}
    - name: {{ .name }}
      value: {{ .value | quote }}
  {{- end }}
  unsupported:
    podTemplate:
      metadata:
        labels:
{{ toYaml .Values.keycloak.podTemplate.metadata.labels | indent 10 }}
      spec:
        securityContext:
{{ toYaml .Values.keycloak.podTemplate.spec.securityContext | indent 10 }}
        affinity:
{{ toYaml .Values.keycloak.podTemplate.spec.affinity | indent 10 }}
        # nodeSelector support: prefer .Values.keycloak.nodeSelector then fallback to .Values.nodeSelector
{{- if .Values.keycloak.nodeSelector }}
        nodeSelector:
{{ toYaml .Values.keycloak.nodeSelector | indent 10 }}
{{- else if .Values.nodeSelector }}
        nodeSelector:
{{ toYaml .Values.nodeSelector | indent 10 }}
{{- end }}
{{- if .Values.keycloak.podTemplate.spec.initContainers }}
        initContainers:
{{- $initContainers := list }}
{{- range .Values.keycloak.podTemplate.spec.initContainers }}
{{- $c := deepCopy . }}
{{- if not $c.image }}{{- $_ := set $c "image" (include "keycloak.image" $) }}{{- end }}
{{- $initContainers = append $initContainers $c }}
{{- end }}
{{ toYaml $initContainers | indent 8 }}
{{- end }}
        containers:
{{- if .Values.keycloak.podTemplate.spec.containers }}
{{ toYaml .Values.keycloak.podTemplate.spec.containers | indent 8 }}
{{- else }}
          - name: keycloak
{{- if .Values.keycloak.resources }}
            resources:
{{ toYaml .Values.keycloak.resources | indent 14 }}
{{- end }}
{{- end }}
{{- if .Values.keycloak.podTemplate.spec.volumes }}
        volumes:
{{ toYaml .Values.keycloak.podTemplate.spec.volumes | indent 8 }}
{{- end }}
{{- end }}
