apiVersion: v1
kind: Secret
metadata:
  name: podiumd-sync-secret
  labels:
    {{- include "podiumd.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "podiumd.name" . }}-sync-secret
stringData:
  ELASTIC_PASSWORD: {{ .Values.kiss.elastic.password | quote }}
  ELASTIC_USERNAME: {{ .Values.kiss.elastic.username | quote }}
  ENTERPRISE_SEARCH_PRIVATE_API_KEY: {{ .Values.kiss.enterpriseSearch.privateApikey | quote }}
  MEDEWERKER_OBJECTEN_CLIENT_ID: {{ .Values.kiss.adapter.clientId | quote }}
  MEDEWERKER_OBJECTEN_CLIENT_SECRET: {{ .Values.kiss.adapter.secret | quote }}
  SDG_OBJECTEN_TOKEN: {{ .Values.kiss.objecten.token | quote }}
  VAC_OBJECTEN_TOKEN: {{ .Values.kiss.objecten.token | quote }}
