apiVersion: v2
name: podiumd
description: PodiumD Helm chart
type: application
version: 4.5.3
appVersion: "4.5.3"
dependencies:
  - name: keycloak
    version: 24.8.0
    repository: "@bitnami"
    condition: keycloak.enabled
  - name: clamav
    version: 3.2.0
    repository: "@wiremind"
    condition: clamav.enabled
  - name: brp-personen-mock
    version: 1.2.8
    repository: "@dimpact"
    condition: brppersonenmock.enabled
    alias: brppersonenmock
  - name: openzaak
    version: 1.13.0
    repository: "@maykinmedia"
    condition: openzaak.enabled
  - name: opennotificaties
    version: 1.13.0
    repository: "@maykinmedia"
    condition: opennotificaties.enabled
  - name: objecten
    version: 2.11.0
    repository: "@maykinmedia"
    condition: objecten.enabled
  - name: objecttypen
    version: 1.6.0
    repository: "@maykinmedia"
    condition: objecttypen.enabled
  - name: openarchiefbeheer
    version: 1.4.1
    repository: "@maykinmedia"
    condition: openarchiefbeheer.enabled
  - name: openklant
    version: 1.10.0
    repository: "@maykinmedia"
    condition: openklant.enabled
  - name: openforms
    alias: openformulieren
    version: 1.11.6
    repository: "@maykinmedia"
    condition: openformulieren.enabled
  - name: openinwoner
    version: 2.1.0
    repository: "@maykinmedia"
    condition: openinwoner.enabled
  - name: kiss-elastic
    alias: kisselastic
    version: 1.1.0
    repository: "@kiss-elastic"
    condition: kisselastic.enabled
    tags:
      - contact
  - name: infinispan
    version: 0.5.0
    repository: "@openshift"
    condition: infinispan.enabled
  - name: zaakafhandelcomponent
    alias: zac
    version: 1.0.165
    repository: "@zac"
    condition: zac.enabled
    tags:
      - zaak
  - name: zgw-office-addin
    repository: "@zgw-office-addin"
    version: 0.0.63
    condition: zgw-office-addin.enabled
  - name: internetaakafhandeling
    alias: ita
    repository: "oci://ghcr.io/interne-taak-afhandeling"
    version: 2.0.1
    condition: ita.enabled
  - name: kiss-chart
    alias: kiss
    repository: "oci://ghcr.io/klantinteractie-servicesysteem"
    version: 2.1.0
    condition: kiss.enabled
  - name: pabc
    alias: pabc
    repository: "oci://ghcr.io/platform-autorisatie-beheer-component"
    version: 1.0.0
    condition: pabc.enabled
