apiVersion: v2
name: monitoring-logging
description: A monitoring stack using Loki, Prometheus, Promtail and Grafana
type: application
version: 1.0.0
appVersion: "1.0.0"
dependencies:
  - name: loki
    repository: "@grafana"
    version: 6.30.1
    condition: loki.enabled
  - name: promtail
    repository: "@grafana"
    version: 6.17.0
    condition: promtail.enabled
  - name: grafana
    repository: "@grafana"
    version: 9.2.2
    condition: grafana.enabled
  - name: prometheus
    repository: "@prometheus-community"
    version: 27.20.0
    condition: prometheus.enabled
