apiVersion: v2
name: monitoring-logging
description: A monitoring stack using Loki, Prometheus, Promtail and Grafana
type: application
version: 1.0.6
appVersion: "1.0.6"
dependencies:
  - name: loki
    repository: "@grafana"
    version: 6.32.0
    condition: loki.enabled
  - name: promtail
    repository: "@grafana"
    version: 6.17.0
    condition: promtail.enabled
  - name: grafana
    repository: "@grafana"
    version: 9.2.10
    condition: grafana.enabled
  - name: prometheus
    repository: "@prometheus-community"
    version: 27.28.0
    condition: prometheus.enabled
